<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Center>
        <h2>New User Registration</h2>
        <form method="post" action="/users">
            <label for="username">Username :</label>
            <input type="text" id="username" name="username" placeholder="username">
            <br><br>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="email">
            <br><br>
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" placeholder="password">
            <br><br>
            <button>JOIN Community</button>
        </form>
    </Center>
</body>
</html>